{% if settings.home_banner %}
<!--begin home-banner-wrapper-->
<div id="home-banner-wrapper">
	
	<div id="home-banner">
		
		<div id="home-banner-content">
            {% assign value = 'banner_title'%}
			<h2 class="title">{% include 'translations' with value %}</h2>
            {% assign value = 'banner_description' %}
			<p>{% include 'translations' with value %}</p>
			{% if settings.home_banner_button %}
			{% assign value = 'banner_button' %}
			<a class="large button main" href="/collections/all">{% include 'translations' with value %}</a>
			{% assign value = null %}
			{% endif %}
		</div>

		<div id="home-banner-image">
			<img src="{{ 'home-banner-img.png' | asset_url }}" alt="{{ shop.name }}" />
		</div>
	
	</div>
	
</div>
<!--end home-banner-wrapper-->
{% else %}

<!--begin home-banner-wrapper-no-banner-->
<div id="home-banner-wrapper-no-banner">
	
</div>
<!--end home-banner-wrapper-no-banner-->

{% endif %}

<!--begin content-wrapper-->
<div id="content-wrapper">
	
	<div id="featured-products">
		
		<div id="search">
			<form action="/search" method="get">
				<input type="text" name="q" id="q" class="search-field" />
				<input type="image" src="{{ 'btn-search.png' | asset_url }}" class="search-button" name="search-button" onclick="if( this.value == 'Search...' ) {this.value = '';};" id="seek" />
			</form>
		</div>
        
        {% if settings.home_collections_featured %}
		<h3 class="featured-products-title">Featured Collections:</h3>
        {% else %}
		<h3 class="featured-products-title">
            {% assign value = 'featured_products' %}{% include 'translations'%}{% assign value = null%}:
        </h3>
        {% endif %}

        {% if settings.home_collections_featured %}
        
    	{% if linklists[settings.home_collections_featured_linklist].links.size > 0 %}
		<table border="0" cellpadding="0" cellspacing="0">
		  {% tablerow link in linklists[settings.home_collections_featured_linklist].links cols: 4 limit: 12 %}
		  <ul class="featured-product">
		    <li>
					<a href="{{ link.url }}">
						<span class="product-image-wrapper"><img class="product-image cy" src="{{ link.object.products.first.images.first | product_img_url: 'medium' }}" width="170px" alt="{{ link.title | escape }}" /></span>
						<span class="product-name">{{ link.title }}</span>
						<br /><span class="small button details">{% assign value ='btn_details'%}{%include 'translations'%}{% assign value = null%}</span>
					</a>
				</li>
		  </ul>
		  {% endtablerow %}
		</table>
		{% else %}
		  <p>Go to the Home Page section in your theme settings to select a link list to feature collections here. That link list must be populated with links to collections. Don't have such a link list? Create one under the Navigation tab in your shop admin.</p>
		</div>
		{% endif %}

        {% else %}
        
		{% if collections.frontpage.handle == "frontpage" %}
		<table border="0" cellpadding="0" cellspacing="0">
		  {% tablerow product in collections.frontpage.products cols: 4 limit: 12 %}
		  <ul class="featured-product">
		    <li>
            {% assign prod = 'title'%}
					<a href="{{ product.url | within: collections.frontpage }}">
						<span class="product-image-wrapper"><img class="product-image cy" src="{{ product.images.first | product_img_url: 'compact' }}"alt="{{ product.title | escape }}" /></span>
						<span class="product-name">{% include 'translations' with prod %}{% assign prod = null%}</span>
						<span class="featured-price">{% if product.compare_at_price_max > product.price %}<em>was {{ product.compare_at_price_max | money }}</em>{% endif %}<strong>{{ product.price  | money }}</strong></span>
						<br /><span class="small button details">{% assign value ='btn_details'%}{%include 'translations'%}{% assign value = null%}</span>
					</a>
				</li>
		  </ul>
		  {% endtablerow %}
		</table>
		{% else %}
		  <p>You need to create a collection with the handle "frontpage"</p>
		</div>
		{% endif %}
        
        {% endif %}
	
	</div>
	
</div>
<!--end content-wrapper-->


